header {
    background-color: #F2E9D8;
    padding-left: 10%;
    padding-right: 10%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

header img {
    width: 400px;
    height: auto;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 폰트 종류는 통합으로 써도 되겠는데? */
header .LoremIpsum_bold {

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;

}

header .LoremIpsum_normal {

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;

}
