header {
    background-color: #F2E9D8;
    padding-left: 15%;
    padding-right: 15%;
}

header button {

    width: 140px;
    height: 50px;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #D97652;

}


header nav {
    display: flex;
    /*justify-content: space-between;*/
    padding: 26px 0;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /*
    margin이나 padding을 사용하여 간격을 두려하면 버튼의 크기가 줄어들게 됨.
    190 == button 크기 + button과 ul의 간격
    */
    /*width: calc(100% - 190px); !* 버튼의 너비 + ul과 버튼의 간격을 제외한 나머지 영역을 할당. *!*/

}

.nav-container button {
    margin-left: 50px;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .header-cat-img {
    width: 30%;
    height: auto;
}

header .LoremIpsum-div {

    /* 이렇게 width로 하는 것과 margin으로 설정하는 것중 어느것? */
    width: 60%;

}

/* 폰트 종류는 통합으로 써도 되겠는데? */
header .loremIpsum-bold {

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;

}

header .loremIpsum-normal {

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;

}
