/* 반응형 레이아웃 구현 : https://developer.mozilla.org/ko/docs/Learn/CSS/CSS_layout/Responsive_Design */
/* flex 사용 이유에 대해 명확히 정의할 줄 알아야함 */

main .main-container {
    padding-left: 15%;
    padding-right: 15%;
}

/* main 고양이 큰 사진 section */

main .main-section-cat {

    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 80px; /* 아닌거 같은데? 고정 값으로 하는거 맞음? */

}

main .main-cat-img {

    width: 50%;
    margin-right: 110px; /* 아닌거 같은데? 고정 값으로 하는거 맞음? */

}


/* 이거 맞나? 상속이*/
main .main-section-cat .loremIpsum-bold {

    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px; /* 아닌거 같은데? 고정 값으로 하는거 맞음?*/

}

main .main-section-cat .loremIpsum-normal {

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

}

/* main text section */
/* 일단 다 flex로 덮어본다? */

main .main-section-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 88px;

}

/* 이거 이렇게 하는게 아니라 h2 같은데? */
main .main-section-text .loremIpsum-bold {

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 120px;
    margin-bottom: 40px;
    color: #D97652;

}

main .main-section-text .loremIpsum-normal {

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

main .main-section-text span {

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #D97652;

}

/* 고양이 이미지 리스트 section */

/* 이거 맞나? */
.image-list-cat {

    display: flex;

}

/* 여긴 좀 있다가 바꾸자 */
main .image-item, main .add-image-item {
    width: calc(33.33% - 20px); /* 3열로 나누기, 간격은 여기서 20px로 설정 */
    float: left; /* 가로로 정렬 */
    margin: 10px;
    box-sizing: border-box;
}

/* 여긴 좀 있다가 바꾸자 */
main .image-item img, main .add-image-item img {
    width: 100%; /* 이미지를 부모 요소에 꽉 채우기 */
    height: 200px; /* 비율을 유지한 채 이미지의 높이 조절 */
}


main .show-more {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

main .show-more p {

    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px;

}

main .show-more-button {

    width: 140px;
    height: 50px;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #D97652;

}

/* 중간 회색 가로선 */
main .horizontal-gray-line {
    width: 100%; /* 수평선이 화면 전체 너비를 차지하도록 설정 */
    height: 1px; /* 수평선의 높이를 1px로 설정 */
    background-color: #C4C4C4; /* 회색으로 선을 설정 */
    margin-top: 80px;
    margin-bottom: 68px;
}

main .map {

    /*width: 896px;*/

}

/* map container */
main .map h2 {

    text-align: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;

}

main .map p {

    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 48px;
    text-align: left;

}

main .map .map-container {

    width: 100%;
    height: 400px;
    box-sizing: border-box;

}


main .subscribe {

    position: relative; /* 위치 조정을 위한 position */
    top: 80px; /* 이거 값 기준을 뭘로 해야하지? */

}

main .subscribe-inner-container {

    position: absolute; /* 부모를 기준으로 절대 위치 설정 */
    display: flex;
    border-radius: 30px;
    background-color: #263140;
}

main .subscribe-text-container {
    flex: 1; /* 각 자식 요소에 동일한 flex 값 적용 */
    margin: 50px;
}

main .subscribe-text-container .loremIpsum-bold {

    margin-bottom: 18px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: white;

}

main .subscribe-text-container .loremIpsum-normal {

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;

}

main .subscribe-input-container {

    position: relative; /* 버튼 제어용 position */
    flex: 1;               /* 각 자식 요소에 동일한 flex 값 적용 */
    display: flex;         /* 자식 요소 내에서 중앙 정렬 */
    align-items: center;
    margin: 50px;

}


main .subscribe-input-container img {

    position: absolute;
    left: 28px; /* 맞는 건지 모르겠다 */

}

main .subscribe-input-container input {

    width: 100%;
    height: 60px;
    border-radius: 60px;
    padding-left: 68px; /* 맞는 건지 모르겠다 */
    margin: 5px;
    font-size: 16px;
    line-height: 20px;
    border: none;

}

main .subscribe-input-container button {

    /* 고정값 사용이 있어도 되는지 모르겠다 */
    position: absolute;
    width: 140px;
    height: 50px;
    right: 10px;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #D97652;
    z-index: 0;

}

/* 아래에 큰 고양이 */

main .bottom-cat-container {

    /* hover 버튼 배치를 위한 flex 속성 */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 180px;
}

main .bottom-cat {

    width: 100%; /* 화면에 딱 맞추기 위한 속성 */

}

main .hover-button {

    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 0;
    border: none;
    opacity: 0.5;
    border-radius: 50%; /* Figma에선 다르게 되어있던데 모르겠다 */
    background-image: url('../resources/hover-button-arrow-up.png');

}

main .hover-button:hover {

    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 0;
    border: none;
    border-radius: 50%; /* Figma에선 다르게 되어있던데 모르겠다 */
    opacity: 1;
    background-image: url('../resources/hover-button-arrow-up.png');

}